* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
#Main{
    width: 98vw;
    background-color: black;

}
.chapter{
   width: 98%;
   background-color: rgb(20, 20, 20);
   margin:0 1vw 5vw ;
   color: antiquewhite;
}
#topbar{
    position: sticky;
    top: -14.6vh;   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#top{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top h1{
    font-size: 15vh;
    color:rgb(255, 231, 14)  ;
}
#icon{
    
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    width: 12%;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 231, 14);
}
#icon h2{
    font-size:8vh;
}
#skew{
    transform: skew(-22deg);
}
#title{
    width: 50%;
    }
 
#call {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 12%;
    padding: 4vh 0 ;
}
#call a{
    text-decoration: none;
    color: rgb(255, 231, 14);
    font-size:small;
}
#bot{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    border-top: 1px groove rgb(255, 231, 14);
    border-bottom: 1px solid rgb(255, 231, 14);
}
#bot a{
    text-decoration: none;
   
}
#bot h2{
    color:rgba(255, 231, 14, 0.705) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#inv{   
    height: 80vh;
}
#vit{
    width: 60%;
}
















