* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
/* html{
     scroll-behavior:smooth; 
}  */
#Main {
    width: 98vw;
    background: none; 
    
 }
#background-video{
    min-width: 100vw;
    position: fixed;
    min-height: 3500px;
    top:0px;
    z-index: 0;
} 
.chapter{
    max-height: 72vw;
    width: 96vw;
    background-color: rgb(20, 20, 20, 0.900);
    margin: 0px 1.5% 5vw;
    color: rgb(229, 196, 153);
    position: relative;
    top: 0px;
    z-index: 1;

}
#topbar{
    margin-top: 1vh;
    margin-bottom: 0;
    position: sticky;
    top: -14.6vh;   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 2;
}
#top{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top h1{
    text-shadow:  4px 2px greenyellow;
    font-size: 15vh;
    color:rgb(255, 231, 14) ;
}
#icon{
    text-shadow:  4px 2px greenyellow; 
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    width: 12%;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(255, 231, 14);
}
#icon h2{
    font-size:8vh;
}
#skew{
    transform: skew(-22deg);
}
#title{
    width: 50%;
    }
 
#call {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 12%;
    padding: 4vh 0 ;
}
#call a{
    text-decoration: none;
    color: rgb(225, 250, 4);
    font-size:small;
}
#bot{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px groove rgb(255, 231, 14);
    border-bottom: 1px solid rgb(255, 231, 14);
}
#bot a{
    text-decoration: none;
   
}
#bot h2{
    color:rgba(255, 231, 14, 0.705) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#inv{   
    height: 75vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 70vh 5vh;

}
#mark1{
    visibility: hidden;
}
#speach{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#speach h1{
    font-size: 5vw;
}
#speach p{ 
    padding:0 5vh;
    height: 50%;
    font-size: 3vw;
}
#head{
    height: 100%;
    width: 100%;
    padding-top: 15vh;
}
#jarvis{
    
    width:100%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10vw;
}
#about{
    height: 80vh;
}
#skills{
    height: 80vh;
         
}

#projects{
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#projects button{
    box-sizing: content-box;
    width: 5vw;
    background-color: rgb(20 20 20 / 90%);
    border-radius: 50px;
    padding: 2px;
    margin:20px;
}
.but{
    width: 100%;
    border-radius: 40px;
}
#window {
    border: 10px ridge rgb(6, 134, 44);
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #DF0000;
    overflow: hidden; 
    width: 70vw; 
    height: 90%;   
    border-left:10px rgb(6, 134, 44) groove; 
    /* border-right: #000000 1px solid;  */
    border-top: 10px rgb(6, 134, 44) groove; 
    /* border-bottom: #000000 1px solid;  */
    z-index: 3;
}
.pro{
    
    min-width: 100%;
    height: 100%;
    background: rgb(22, 6, 158);
}
#projects a{
    color:rgb(255, 231, 14);
    text-decoration: none;
}
#pro-links{
    border-left: 1px solid rgb(255, 231, 14);
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    scroll-behavior: smooth;
}
#pro-links p{
    text-align: center;
    margin:10% 20%;
    width: 50%;
}
#bye{
    margin-top: 6vw;
    width: 100%;
    position: sticky;
    height:25vh;
    background-color: rgba(10, 30, 20, 0.800);
    z-index: 2;
    color:rgb(44, 241, 103);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0.5rem;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bye p{
    font-size: 1.7rem;
    background-color: black;
}
#bye h1{
    background-color: black;
}









